.view-id-search_shop{
}



.view-id-search_shop .form--inline{
    display: flex;
    text-align: center;
    justify-content: center;
}

/* -----NAME */
.view-id-search_shop .view-filters{
    margin:2rem 6%
}
.view-id-search_shop .form--inline .form-item-field-name-shop-value{
    background-color: #fff;
    margin-right: 2rem;
    border-radius: .5rem;
    border: .1rem solid rgba(107, 102, 102, 0.438);
    display: flex;
    align-items: center;
}

.view-id-search_shop .form--inline .form-item-field-name-shop-value label{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--black);
    margin-left: 1rem;
    padding-right: 1rem;
    border-right: .1rem solid rgba(107, 102, 102, 0.438);
}


.view-id-search_shop .form--inline .form-item-field-name-shop-value input{
    font-size: 1.4rem;
    margin-left: 1rem;  

    
}


/* ----CATEGORY */


.view-id-search_shop .form--inline .form-item-field-category-shop-target-id{
    background-color: #fff;
    margin-right: 2rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    border: .1rem solid rgba(107, 102, 102, 0.438);

}

.view-id-search_shop .form--inline .form-item-field-category-shop-target-id label{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--black);
    margin-left: 1rem;
    border-right: .1rem solid rgba(58, 54, 54, 0);
    padding-right: 1rem;
}

.view-id-search_shop .form--inline .form-item-field-category-shop-target-id select{
    height: 100%;
    font-size: 1.2rem;
    color: var(--black);
    font-weight: bold;
    padding-left: 2rem;
    border-radius: .5rem;
    padding-right: 1rem;
}

.view-id-search_shop .form--inline .form-item-field-category-shop-target-id select option {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: .5rem;
}





/* ---BUTTON SEARCH */


.view-id-search_shop .view-header p{
    font-size: 1.5rem;
}


.view-id-search_shop .form--inline .form-actions{
    font-size: 1.2rem;
    border: .1rem solid rgba(107, 102, 102, 0.438);
    background-color: #DDDDDD;
    height: 60px;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    padding: 1rem 1.3rem;cursor: pointer;

}

.view-id-search_shop .form--inline .form-actions input{
    color: var(--black);
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #DDDDDD;
}


.view-id-search_shop .form--inline .form-actions:hover input{
    color: var(--orange);
    
}


/* ----HEADER */

.view-id-search_shop .view-header{
    margin: 2rem 6%;
    font-size: 2.5rem;
    color:var(--black);
    font-weight: bold;
    margin-bottom: .5rem;
    border-bottom:.15rem solid rgba(204, 203, 203, 0.527);
    padding-bottom: 2rem;
    display: block;

}

/* ----SHOP VIEWS */

.view-id-search_shop .view-content{
    margin: 2rem 6%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(32rem,1fr));
    gap: 1.5rem;
}

.view-id-search_shop .view-content .views-row{
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);

}

.view-id-search_shop .view-content .views-row {
    padding: 2rem 2%;
}

.view-id-search_shop .view-content .views-row .views-field-field-logo-shop{
    float:left;
    height: 13rem;
    text-align: center;
    align-items: center;
    width: 30%;
}
.view-id-search_shop .view-content .views-row .views-field-field-logo-shop img{
    height: 7rem;
    width: 7rem;
    object-fit: cover;
}

.view-id-search_shop .view-content .views-row .views-field-field-name-shop{
    font-size: 2.2rem;
    color:var(--black);
    float: left;
    width: 70%;
    font-weight: bold;
    
}

.view-id-search_shop .view-content .views-row .views-field-field-d{
    float: left;
    width: 70%;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.view-id-search_shop .view-content .views-row .views-field-field-d i{
    font-size: 1.5rem;
    color: var(--orange);
}

.view-id-search_shop .view-content .views-row .views-field-view-node{
    
    float: left;
    
    text-align: center;
    align-items: center;
}

.view-id-search_shop .view-content .views-row .views-field-view-node .field-content a{
    margin-top: 1rem;
    width: 10rem;
    display: inline-block;
    padding:.8rem 0;
    font-size: 1.3rem;
    border-radius: .5rem;
    color:#fff;
    cursor: pointer;
    background: var(--orange);
}

.view-id-search_shop .view-content .views-row .views-field-view-node:hover .field-content a{
    background-color: rgb(241, 167, 28);

}

.view-id-search_shop .view-content .views-row .views-field-view-node-1{
    float: left;

    text-align: center;
    align-items: center;
    margin-right: 2rem;
}

.view-id-search_shop .view-content .views-row .views-field-view-node-1 .field-content a{
    margin-top: 1rem;
    width: 10rem;
    display: inline-block;
    padding:.8rem 0;
    font-size: 1.3rem;
    border-radius: .5rem;
    color:#fff;
    cursor: pointer;
    background: var(--orange);
}

.view-id-search_shop .view-content .views-row .views-field-view-node-1:hover .field-content a{

    background-color: rgb(241, 167, 28);
}






.view-id-search_shop .view-content .views-row .views-field-field-product-by-shop{
    clear: both;
    padding: 0 0;

}

.view-id-search_shop .view-content-product{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(8rem,1fr));
    gap:1rem;
}
.view-id-search_shop .view-content-product .views-row{


box-shadow: none;
}
.view-id-search_shop .view-content-product .views-field-field-img-product img{
    height: 8rem;
    width: 100%;
    object-fit: cover;
}


.view-id-search_shop .view-content-product .views-field-field-nam {
    margin: .5rem 0;
    font-size: 1.2rem;
}

.view-id-search_shop .view-content-product .views-field-field-nam a{
    color: var(--black);
}

.view-id-search_shop .view-content-product .views-field-field-price-product {
    font-size: 1.1rem;
    font-weight: bold;
}


